<ion-list>
  <ion-item>
    <ion-label>业务类型</ion-label>
    <ion-select #selectType [(ngModel)]="type" (ngModelChange)="typeOk($event)" okText="确定" cancelText="取消">
      <ion-select-option [value]="g.code" *ngFor="let g of types">{{g.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>设备名</ion-label>
    <ion-select #selectEquipment [(ngModel)]="equipment" (ngModelChange)="equipmentOk($event)"  okText="确定" cancelText="取消">
      <ion-select-option [value]="c.id" *ngFor="let c of equipments">{{c.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>操作名</ion-label>
    <ion-select #selectBusiness [(ngModel)]="business"  okText="确定" cancelText="取消">
      <ion-select-option [value]="bc.id" *ngFor="let bc of businessContents">{{bc?.equipOp?.name}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<div padding>
  <button ion-button block (click)="save()">保存</button>
</div>
