<ion-header>
  <ion-nav #nav>
    <ion-title>
      处理状态
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only  (click)="openModal()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-nav>
</ion-header>

<ion-content>
  <ion-refresher #refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>
      <ion-label>只看我的处理进程</ion-label>
      <ion-toggle [(ngModel)]="onlyMe"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list inset>
    <ion-item *ngIf="operation?.actions.length==0">
      没有相关记录
    </ion-item>
    <ion-item-group *ngFor="let action of operation?.actions">
      <ion-item-divider sticky *ngIf="!onlyMe||onlyMe&&action?.enable" [attr.track]="action?.color">
        <ion-label *ngIf="!action?.enable">
          {{action?.user?.name}}的处理进程
        </ion-label>
        <ion-label *ngIf="action?.enable">
          我的处理进程
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngIf="!onlyMe||onlyMe&&action?.enable" [attr.track]="action?.color" [attr.enable]="action?.enable?'black':'gray'" >
        <ion-item>
          <ion-label fixed>指派时间:</ion-label>
          <ion-label>{{action.call_time_date_show}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label fixed>开始时间:</ion-label>
          <ion-label *ngIf="!action?.enable">{{action.start_time_date_show}}</ion-label>
          <ion-datetime #start cancelText="取消" doneText="确定"  placeholder="未开始"
                        *ngIf="action?.enable"  displayFormat="MM月DD日 HH时mm分" pickerFormat="YYYY-MM-DDTHH:mm:ssTZD"
                        [(ngModel)]="action.start_time_date"
                        (click)="start_click(action?.id)"
                        (ngModelChange)="okStartTime($event,action?.id)"
          ></ion-datetime>
        </ion-item>
        <ion-item *ngIf="action.start_time_date!=null">
          <ion-label fixed>结束时间:</ion-label>
          <ion-label *ngIf="!action?.enable">{{action.end_time_date_show}}</ion-label>
          <ion-datetime #end cancelText="取消" doneText="确定" placeholder="未结束"  *ngIf="action?.enable" displayFormat="MM月DD日 HH时mm分" pickerFormat="YYYY-MM-DDTHH:mm:ssTZD"
                        [(ngModel)]="action.end_time_date"
                        (click)="end_click(action?.id)"
                        (ngModelChange)="okEndTime($event,action?.id)"
          ></ion-datetime>
        </ion-item>
        <ion-item  *ngIf="action.start_time_date!=null">
          <ion-label fixed>工单完成</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="action.operationComplete" [disabled]="!action?.enable"
            (ngModelChange)="completeChange($event,action?.id)"
          ></ion-checkbox>
        </ion-item>
      </ion-item-sliding>
      <ion-item></ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
