add-op{
  .trans {
    .toolbar-background{
      background: transparent;
      border-color: transparent;
    }
  }
  ion-footer.footer-md::before{
    background: transparent;
  }
  .slide-zoom{
    height:100%;
  }
  .datetime-md{
    padding-left: 16px;
  }
  .need-list{
    .input-wrapper{
      flex:5
    }
    .item-inner{
      .item-block .item-inner{
        border-bottom:1px solid #dedede
      }
      .item-block:last-child .item-inner{
        border-bottom:none
      }
    }
  }
}

.popover-md .popover-content{
  width:200px;
}
